<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>
        <asp:ContentPlaceHolder ID="TitleContent" runat="server" />
    </title>
    <link href="/static/css/blueprint/screen.css" rel="stylesheet" type="text/css" />
    <link href="/static/js/base/ext/resources/css/ext-all.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/site.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/static/js/base/jquery/jquery-1.3.2.min.js"></script>

    <script type="text/javascript" src="/static/js/base/jquery/plugins/jquery.rcorner.js"></script>

    <script type="text/javascript" src="/static/js/base/jquery/plugins/jquery.lowpro.js"></script>

    <script type="text/javascript" src="/static/js/base/jquery/plugins/jquery.toJson.js"></script>

    <script type="text/javascript" src="/static/js/base/jquery/plugins/jquery.printarea.js"></script>

    <script type="text/javascript" src="/static/js/base/ext/adapter/jquery/jquery-plugins.js"></script>

    <script type="text/javascript" src="/static/js/base/ext/adapter/jquery/ext-jquery-adapter.js"></script>

    <script type="text/javascript" src="/static/js/base/ext/ext-all.js"></script>

    <asp:ContentPlaceHolder ID="head" runat="server" />
</head>
<body class="<%=Request.Browser.Browser.Replace(" ","") %>_<%=Regex.Replace(Request.Browser.Version, "[^0-9]", "").Substring(0,2) %> <%=Request.Browser.Browser.Replace(" ","") %>">
    <div class="page" style="width: 960px; padding: 10px">
        <div id="header" style="padding-bottom: 8px;">
        <a href="<%=Url.RouteUrl("home") %>">
                <img class="logo" src="/static/js/base/ext/resources/images/default/s.gif" alt="ActionTrax" /></a>
            <ul id="globalnav">
                <li><a href="<%=Url.RouteUrl("home") %>">Home</a></li>
                <li><a href="<%=Url.RouteUrl("vehicles") %>">Tracking Vehicles</a></li>
                <li><a href="<%=Url.RouteUrl("credits") %>">Credits</a></li>
                <li class="last"><a href="<%=Url.RouteUrl("owner") %>">Owner/Operator</a></li>
            </ul>
        </div>
        <div id="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />
        </div>
        <div id="footer" style="padding-top: 10px;">
            <img name="footer" src="/static/image/footer.png" width="960" height="73" border="0" id="footer" usemap="#m_footer" alt="" />
			
<map name="m_footer" id="m_footer"><area shape="rect" coords="550,6,682,65" href="http://picturecarwarehouse.com/" target="_blank" title="Matt Sweeney Special Effects" alt="Picture Care Warehouse" />
<area shape="rect" coords="747,13,915,58" href="http://www.brandxstunts.org/" target="_blank" title="Brand-X" alt="Brand-X" />
<area shape="rect" coords="350,11,475,64" href="http://www.sweeney-special-effects.com" target="_blank" title="Matt Sweeney Special Effects" alt="Matt Sweeney Special Effects" />
<area shape="rect" coords="50,14,298,64" href="http://www.action-trax.com" target="_blank" title="Action Trax" alt="Action Trax" />
</map>
        </div>
    </div>
    <asp:ContentPlaceHolder ID="foot" runat="server" />
</body>
</html>
